In [1]:
import pandas as pd
import os

In [2]:
school=os.path.join("school_data.csv")
student=os.path.join("student_data.csv")
school_df=pd.read_csv(school)
student_df=pd.read_csv(student)

In [36]:
Dis_Sum=pd.DataFrame(data={"total schools":len(school_df),"total students":len(student_df),"total budget":school_df['budget'].sum(), "average math score":student_df['math_score'].mean(), "average reading score":student_df['reading_score'].mean(),"% passing math":len(student_df.loc[student_df['math_score']>69,:])/len(student_df)
,"% passing reading":len(student_df.loc[student_df['reading_score']>69,:])/len(student_df)}, index=[0])
Dis_Sum=Dis_Sum[["total students","total schools","total budget","average reading score","average math score","% passing reading","% passing math"]]
Dis_Sum["overal passing rate"]=(Dis_Sum["% passing reading"]+Dis_Sum["% passing math"])/2
Dis_Sum

,total students,total schools,total budget,average reading score,average math score,% passing reading,% passing math,overal passing rate
0,39170,15,24649428,81.87784,78.985371,0.858055,0.749809,0.803932

In [48]:
student_df.groupby(student_df['school']).mean()

                       Student ID  reading_score  math_score
school
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222