In [1]:
import pandas as pd
import os

In [2]:
school=os.path.join("school_data.csv")
student=os.path.join("student_data.csv")
school_df=pd.read_csv(school)
student_df=pd.read_csv(student)

In [36]:
Dis_Sum=pd.DataFrame(data={"total schools":len(school_df),"total students":len(student_df),"total budget":school_df['budget'].sum(), "average math score":student_df['math_score'].mean(), "average reading score":student_df['reading_score'].mean(),"% passing math":len(student_df.loc[student_df['math_score']>69,:])/len(student_df)
,"% passing reading":len(student_df.loc[student_df['reading_score']>69,:])/len(student_df)}, index=[0])
Dis_Sum=Dis_Sum[["total students","total schools","total budget","average reading score","average math score","% passing reading","% passing math"]]
Dis_Sum["overal passing rate"]=(Dis_Sum["% passing reading"]+Dis_Sum["% passing math"])/2
Dis_Sum

,total students,total schools,total budget,average reading score,average math score,% passing reading,% passing math,overal passing rate
0,39170,15,24649428,81.87784,78.985371,0.858055,0.749809,0.803932

In [78]:
school_scores_df=student_df.groupby(student_df['school']).mean().reset_index()
school_scores_df.columns=['name', 'Student ID', 'reading_score', 'math_score']
Sch_Sum=pd.merge(school_scores_df,school_df,how='outer',on='name')
Sch_Sum=Sch_Sum[['name','reading_score','math_score','School ID','type', 'size','budget']]
Sch_Sum.head()

,name,reading_score,math_score,School ID,type,size,budget
0,Bailey High School,81.033963,77.048432,7,District,4976,3124928
1,Cabrera High School,83.975780,83.061895,6,Charter,1858,1081356
2,Figueroa High School,81.158020,76.711767,1,District,2949,1884411
3,Ford High School,80.746258,77.102592,13,District,2739,1763916
4,Griffin High School,83.816757,83.351499,4,Charter,1468,917500