In [46]:
import tweepy
import json
import numpy as np
# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
consumer_key = '30Z8Dwqy7gkJ1mxOAy1Dqrnmv'
consumer_secret = 'WkI2fvAjFTmFq4LH7aXKHPiB5sAAo2lQDll30gCA3nFscY2WWm'
access_token = '967430440335413249-C7zFPWxyXopWjtUBmD4mVpp14JE9yjX'
access_token_secret = 'iddKLYODgDXvqNxiu1lrxGp5ugfWvQBIw9P1jqr14xLFo'

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [48]:
users=('@BBC', '@CBS', '@CNN', '@foxnews', '@nytimes')
#df=({'@BBC':[], '@CBS':[], '@CNN':[], '@foxnews':[], '@nytimes':[]})
df = pd.DataFrame(columns=users)
df

Empty DataFrame
Columns: [@BBC, @CBS, @CNN, @foxnews, @nytimes]
Index: []

In [51]:
oldest_tweet = ""
for user in users:
    sentiment_array=[]
    for x in range(5):
        public_tweets= api.user_timeline(user,max_id=oldest_tweet)
        for tweet in public_tweets:
            sentiment_array.append(analyzer.polarity_scores(tweet)['compound'])
            oldest_tweet = tweet['id_str']
        df.append({user:sentiment_array},ignore_index=True)

In [52]:
df

Empty DataFrame
Columns: [@BBC, @CBS, @CNN, @foxnews, @nytimes]
Index: []