In [79]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

start_date='2010-04-20'
start_date='2010-04-27'
import matplotlib.pyplot as plt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [4]:
Station = Base.classes.station
Measurement = Base.classes.measurement

In [5]:
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])
inspector = inspect(engine)
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])
session = Session(engine)

id INTEGER
station VARCHAR
date VARCHAR
prcp FLOAT
tobs INTEGER
id INTEGER
station VARCHAR
name VARCHAR
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [70]:
precipitation_data=session.query(Measurement.date,Measurement.prcp,Measurement.tobs ).filter(Measurement.date>'2016-08-23').all()

In [77]:
df = pd.DataFrame(precipitation_data)
df=df.set_index(df['date'])[['prcp','tobs']]
df.head()

            prcp  tobs
date
2016-08-24  0.08    79
2016-08-25  0.08    80
2016-08-26  0.00    79
2016-08-27  0.00    77
2016-08-28  0.01    78

In [ ]:
df['prcp'].plot(kind='bar')

In [ ]:
import numpy as np
#plt.xticks(np.arange(1,len(df),100))
#plt.xlabel(df.iloc[np.arange(1,len(df),100)].index)
plt.show()