In [36]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [37]:
df=pd.read_csv('clean_hawaii_measurements.csv')
df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

In [38]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [39]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [40]:
Base.metadata.create_all(engine)